name: Renovate Check

on:
  merge_group:
  push:
    branches:
      - 'renovate/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'release.jks'
          encodedString: ${{ secrets.KEYSTORE }}

      - uses: actions/checkout@v4

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Gradle Check
        run: ./gradlew check assembleDebug --no-daemon
        env:
          BITRISE: 'true'
          KEYSTORE_LOCATION: ${{ steps.decode_keystore.outputs.filePath }}
