name: Renovate Check

on:
  merge_group:
  push:
    branches:
      - 'renovate/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
          ls /dev/kvm

      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'release.jks'
          encodedString: ${{ secrets.KEYSTORE }}

      - uses: actions/checkout@v6

      - name: Set timezone
        run: echo "TZ=Europe/London" >> $GITHUB_ENV

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Prepare RoomDB actual declaration
        run: ./gradlew :composeApp:kspCommonMainKotlinMetadata
        env:
          KEYSTORE_LOCATION: ${{ steps.decode_keystore.outputs.filePath }}

      - name: Debug Android Test
        run: ./gradlew :composeApp:pixel2Api33DebugAndroidTest -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect -Pandroid.experimental.testOptions.managedDevices.emulator.showKernelLogging=true -Pandroid.experimental.testOptions.managedDevices.maxConcurrentDevices=1 -Pandroid.experimental.testOptions.managedDevices.setupTimeoutMinutes=180
        env:
          CI: 'true'
          KEYSTORE_LOCATION: ${{ steps.decode_keystore.outputs.filePath }}

      - name: Install Xvfb
        run: sudo apt-get install -y xvfb

      - name: Gradle Check
        run: xvfb-run ./gradlew check assembleDebug
        env:
          CI: 'true'
          KEYSTORE_LOCATION: ${{ steps.decode_keystore.outputs.filePath }}

      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: test-report
          path: composeApp/build/reports/tests/
